<!-- El mapa y sus bindings  -->
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <!-- aplicando bootstrap -->
  <hr>
  <div class="container">
  <div class="row">
    <div class="col-md-8">
    <h2>Lugares Cercanos</h2>
    <ul class="list-group"> 
      <ng-container *ngFor="let lugar of lugares">
        <!-- redireccionamos con parametros obligatorios  -->
       <a routerLink="/linkrp2/{{lugar.id}}"> <li *ngIf="lugar.active" class="list-group-item">{{lugar.nombre + " está activo"}}</li></a>
  <!-- redireccionamos además con parametros opcionales de tipo query -->
  <a routerLink="/linkrp2/{{lugar.id}}" [queryParams]="{action:'view',referer:'yahoo'}"> <li *ngIf="lugar.active" class="list-group-item">{{lugar.nombre + " está activo"}}</li></a>

      </ng-container>
  
    </ul> 
    </div>
    <div class="col-md-4">
      <h2>Destacados</h2>
  
  
  
    </div>
  </div>
  </div> 
