<ul>
<!-- para los pipes usamos el operador pipe (or simple) seguido de la directiva del pipe -->
      <li *ngFor="let lugar of lugares">{{lugar.nombre | lowercase}}</li>
      <li *ngFor="let lugar of lugares">{{lugar.nombre | uppercase}}</li>
      <small>Creado sin pipe: {{fecha}}</small>
      <br>
      <small>Creado con pipe: {{fecha | date}}</small>
      <br>
      <small>Creado con pipe concatenados: {{fecha | date | uppercase}}</small>
      <br>
      <small>Creado con pipe primera letra mayuscula:</small>

      <li *ngFor="let lugar of lugares">{{lugar.nombre | titlecase}}</li>
      <br>
      <small>Creado con pipe con fecha y formato: {{fecha | date:"dd-MM-yyyy" }}</small>

      <br>
      <small>Creado con pipe con fecha y formato inglés: {{fecha | date:"MM-dd-yyyy" }}</small>


      <br>
      <small>Utilizando parámetros en pipes por default con fecha y hora: {{fecha | date:"short" }}</small>

      <br>
      <small>Utilizando parámetros en pipes por default en ingless: {{fecha | date:"MM-dd-yyyy:hh:mm:ss" }}</small>

      <br>
      <small>Utilizando parámetros en pipes por default en ingless con barras: {{fecha | date:"MM/dd/yyyy:hh:mm:ss" }}</small>

      <br>
      <small>Utilizando parámetros en pipes por default con barras: {{fecha | date:"dd/MM/yyyy:hh:mm:ss" }}</small>

      <br>
      <small>Solo la hora: {{fecha | date:"shortTime" }}</small>
      <br>
      <small>Formatear número {{"1232.254543545"| number:('1.2-2')}}</small>
      
      
</ul>