<!-- <div class="container">
    <h3>Datos de Dirección</h3>
    <label for="">Calle y número</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.calle">
    <label for="">Ciudad</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.ciudad">
    <label for="">Pais</label>
    <input type="text" class="form-control" [(ngModel)]="lugar.pais">
    <a class="btn btn-primary" style="color:white" (click)="guardarCoords()">Enviar</a>
</div> -->

<div>
    <form action="">
      <h3>Buscar dirección en google maps</h3>
      <!-- usamos la meta etiqueta formControl y le decimos cual es la variable -->
      <input type="text" [formControl]="searchField" class="form-control">
      <!-- ponemos la list donde vienen las sugerencias -->
      <ul class="list-group">
        <!-- usamos le pipe async para cuando van llegando resultados asyncronos se vayan anexando -->
        <li class="list-group-item" *ngFor="let result of results$ | async">
          <!-- lo q devuelve result el campo formatted_address vamos a mostrar -->
          {{result.formatted_address}}
        </li>
      </ul>
    </form>
</div>