<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Top Navbar</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="link2">Link 2</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="link1">Link 1</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="link3">Link 3</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkforeach">For Each Component</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkiff">linkiff</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkmaps">Maps</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkngstcl">NgStyle y NgClass</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkngsw">NgSwitch</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkdiratr">DirAtr</a></li>
            <!-- <li class="nav-item"><a class="nav-link" routerLink="linkdiratr">NgSwitch</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkdiratr">NgSwitch</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkdiratr">NgSwitch</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkdiratr">NgSwitch</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkdiratr">NgSwitch</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkdiratr">NgSwitch</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkdiratr">NgSwitch</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkdiratr">NgSwitch</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="linkdiratr">NgSwitch</a></li> -->

            
        </ul>
    </div>
</nav>
